<div class="footer">

  <div class="d-flex align-items-end h-100 w-100">
    <div class="img left-img">
      <img src="assets/img/green_left_bg.png">
    </div>

    <div class="info d-flex flex-column justify-content-center">
      <a class="info-link text-center" href="http://localhost:4200/home/feedback">ОБРАТНЫЙ ОТЗЫВ</a>
      <div class="text-center">МЫ В СОЦ.СЕТЯХ:</div>
      <div class="icons">
        <div class="vk-icon">
          <a href="http://vk.com/podrygkashop">
            <fa-icon [icon]="vkIcon" size="3x"></fa-icon>
          </a>
        </div>
        <div class="tiktok-icon">
          <a href="https://www.tiktok.com/@podrygkashop">
            <fa-icon [icon]="tiktokIcon" size="2x"></fa-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="img right-img">
      <img src="assets/img/bottom_logo.png">
    </div>
  </div>

</div>
